*{  
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: white;
}

body {
    background: url('https://source.unsplash.com/twukN12EN7c/1920x1080') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}
.navbar {
    background-color: white !important;
    padding: 1% !important;
}

.navbar-brand {
    color: #FFFFFF !important;
    background-color: #59AAA5;
    padding: 1%;
    
    
}

section {
    background-color: white;
}

p {
    background-color: white;
}

li { 
    background-color: white;
}

h1 {
    color: #59AAA5;
    background-color: white;
    
   
}

.headshot {  
    width: 150px; /* Your chosen height */
    height: auto; /* Must be auto */
    float: left;
    margin: 1px;
}

.headshot img {
    width: 100%; /* Must be 100% */
    height: auto; /* Must be auto */
    margin: 1px;
    }






/* Portfolio style */


/* Container needed to position the button. Adjust the width as needed */
.portbtn {
    position: relative;
    width: 50%;
  }
  
  /* Make the image responsive */
  .portbtn img {
    width: 100%;
    height: auto;
  }
  
  /* Style the button and place it in the middle of the container/image */
  .portbtn .btn {
    position: absolute;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    background-color: #555;
    color: white;
    font-size: 16px;
    padding: 12px 24px;
    border: none;
    cursor: pointer;
    border-radius: 5px;
  }
  
  .portbtn .btn:hover {
    background-color: black;
